body{
    background-color:#d1e7f2;
}

form{
    margin: 10px auto 0px auto;
    width: 50%;
    
}
fieldset{
    margin: 90px auto 0px auto;
    width: 30%;
    background-color: rgb(73, 174, 217);
    font-size: 16px ;
    
}

legend{
    text-align: center;
    background-color: rgb(26, 92, 117);
    color: white;
    font-size: 20px;
}

#ddd{
    text-align: center;
}
input{
    padding: 5px;
}

th{
    border: 0.5px solid black;
    background-color: rgba(0, 119, 255, 0.76);
}
td{
    border: 0.5px solid black;
}

table{
    border-spacing:0px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

